/* ================================================== */
/* ======================== UNIVERSAL STYLES ======== */
/* ================================================== */
body {
/*  font-family: "Open Sans"; */
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  max-width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

/* ================================================== */
/* ======================== TOP BANNER SECTION ====== */
/* ================================================== */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo img {
  height: 44px;
  width: auto;
}

#first {
  font-weight: 700;
}

nav .link {
  padding-right: 16px;
}

nav .last-link {
  padding-right: 24px; 
}

nav  {
  padding: 16px 24px 16px 24px;
  justify-content: space-between;
}

nav a {
  color: #000;
  text-decoration: none;
}

.desktop {
    display: flex; 
    justify-content: flex-end;
}

.mobile {
  display: none;
}

/* ================================================== */
/* ======================== MAIN PAGE CONTAINER ===== */
/* ================================================== */
.main {
  top: 80px;
  max-width: 99%;
}

/* ================================================== */
/* ======================== JUMBOTRON SECTION ======= */
/* ================================================== */
.jumbotron {
  display: flex;
  margin-top: 64px;
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  background-color: lightgray;  /*future formatting change point */
}

.banner {
  width: 60%;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.banner-promo {
  width: 40%;
  padding-left: 0px;
}

.start-button {
  background-color: #4A4A4A;
  padding: 8px;
  text-align: center;
  color: #FFF;
  width: 80%;
  border-radius: 16px;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
}

.banner-promo h1 {
  font-size: 35;
  font-weight: 800;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
}

.banner-promo h4 {
  font-size: 18;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 32px;
}

.start-button a{
  text-decoration: none;
  color: #FFF;
} 

/* ================================================== */
/* ======================== SCHOOL INFO SECTION ===== */
/* ================================================== */
.school-info {
  width: 100%;
  display: flex;
}

.quote-container {
  width: 60%;
  padding-left: 24px;
  padding-top: 32px;
  padding-right: 24px;
  border-right: 1px solid #D3D3D3;
}

.keep-learning img{
  width: 100%;
  height: auto;
}

.quote {
  margin-top: 32px;
  margin-bottom: 32px;
}

.quote h1 {
  font-size: 27px;
  font-weight: 800;
  padding-bottom: 24px;
}

.quote p {
  padding-top: 0px;
  padding-bottom: 32px;
  line-height: 1.2;

}

#quoted {
  font-size: 13px;
}


/* right side of school information section */
.info-tiles {
  width: 40%;
}

.tile {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tile .img-lg {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

.img-lg img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.info-text {
  width: 65%;
}

.info-sub-txt {
  padding: 8px 0px;
  font-size: 14px;
  margin-right: 10px;
}

.tile a {
  color: red;
  font-size: 14px;
}

/* don't show the mobile image on desktop canvas */
.img-sm img {
  display: none;
}


/* ================================================== */
/* ======================== COURSES SECTION ========= */
/* ================================================== */
.course-section {
  background-color: #D3D3D3;
}

.course-banner {
  padding-top: 32px;
  text-align: center;
  font-size: 32px;
}

.course-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  margin: 32px 72px;
}

.course {
  max-width: 30%;
  margin-bottom: 32px;
  background-color: #D3D3D3;
}

.course-img img {
  width: 100%;
  height: auto;
}

.course-details {
    background-color: white;
    padding: 16px 24px 24px 16px;
    height: 45%;
}

.course-details h3 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 16px;
  padding-left: 16px;
}

.course-details p {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.mobile-course {
  display: none;
}

/* ================================================== */
/* ======================== THESIS SECTION ========== */
/* ================================================== */
.thesis-section {
  margin: 32px; 
  text-align: center;
}

.thesis-main-exhibit {
  display: flex; 
}

.thesis-video {
  width: 60%; 
  margin: 0px 24px 24px 24px; 
}

.thesis-sidebar{
  width: 40%;
}

.thesis-minbox {
  display: flex;
  align-items: center;
}

.thesis-img{
  width: 35%;
  margin: 16px;
}

.thesis-img img{
  width: 100%;
  object-fit: contain;
}

.thesis-txt{
  width: 65%;
}

.thesis-minbox.one {
  background-color: lightgray;
}

/* ================================================== */
/* ======================== FOOTER SECTION ========== */
/* ================================================== */
footer {
  border-top: 1px solid lightgray;
}

footer .footer-deets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-links ul {
  display: flex;
}

.footer-links ul li {
  padding-left: 16px;
}

/* ================================================== */
/* ======================== Mobile Device Media Query */
/* ================================================== */
@media only screen and (max-width: 485px) {

/* TOP HEADER SECTION */
  .desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  header {
    padding-left: 0px;
  }

  /*Header/Mobile Nav Bar*/
  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }

/* JUMBOTRON SECTION */
  .jumbotron {
    display: block;
    padding-top: 0px;
    padding-left: 0px;
  }

  .banner {
    width: 100%;
    margin-right: 0;
    padding: 0px 0px;
  }

  .banner-promo {
    padding-left: 24px;
    text-align: left;
    width: 80%;
  }

  .banner-promo h1 {
    font-size: 32px;
  }

  .banner-promo h4 {
    font-size: 16px;
  }


  .info-tiles {
    width: 100%;
  }

  .quote-container {
    display: none;
  }

  .tile {
    width: 100%;
    display: block;
  }

  .img-sm {
    margin: 16px;

  }

  .img-sm img{
    display: block;
    width: 100%;
    height: auto;
  }


  .img-lg {
    display: none;
  }


  .info-txt {
    padding-left: 16px;
  }

  /* COURSE SECTION */
  /* need to suppress the images and text and replace with short titles/boxes */

  .course-section {
  background-color: white;
  }
  .course-details {
    display: none;
  }

  .course-img {
    display: none;
  }

  .mobile-course {
    display: block;
    border-radius: 16px;
    background-color: lightgray;
    padding: 16px 0px 24px 16px;
    font-size: 18px;
  }

  .course-banner {
    padding-top: 40px;
  }

  .course-container {
    display: block;
    margin: 16px 16px 32px 16px;
  }

  .course {
    max-width: 100%;
    margin-bottom: 8px;
  }

  .course a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  }

/* THESIS SECTION */
/* need to suppress the two mini boxes on the right and the text under the video whil only showing the video*/
  .thesis-main-txt {
    display: none;
  }
  .thesis-sidebar {
    display: none;
  }

  .thesis-section {
    margin: 32px 0px 16px 0px; 
    text-align: center;
  }

  .thesis-video {
    width: 100%; 
    margin: 0px 0px 24px 0px; 
  }


/* FOOTER SECTION */
  .footer-deets {
    margin: 16px 0px 16px 0px;
  }
  .footer-links {
    display: none;
  }
}
