/* ======================== Universal Styles */
body {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.25;
  max-width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}


/* ======================== Page-Top Banner Styles */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.logo img {
  height: 2.75rem;
  width: auto;
}

#first {
  font-weight: 700;
}

nav .link {
  padding-right: 16px;
}

nav .last-link {
  padding-right: 24px; 
}

nav  {
  padding: 16px 24px 16px 24px;
  justify-content: space-between;
}

nav a {
  color: #000;
  text-decoration: none;
}

.desktop {
    display: flex; 
    justify-content: flex-end;
}

.mobile {
  display: none;
}

/* ======================== 'MAIN' CONTAINER */
.main {
  top: 5rem;
  max-width: 99%;
}

/* ======================== JUMBOTRON SECTION */


.jumbotron {
    display: flex;
    margin-top: 64px;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    background-color: lightgray;  /*future formatting change point */
}

.banner {
  width: 60%;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.banner-promo {
  width: 40%;
  padding-left: 0px;
}

.start-button {
  background-color: #4A4A4A;
  padding: 8px;
  text-align: center;
  color: #FFF;
  width: 80%;
  border-radius: 16px;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
}

.banner-promo h1 {
  font-size: 2.2rem;
  font-weight: 800;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
}

.banner-promo h4 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 32px;
}

.start-button a{
  text-decoration: none;
  color: #FFF;
} 

/* ======================== SCHOOL INFO SECTION */
.school-info {
  width: 100%;
  display: flex;
}

.quote-container {
  width: 60%;
  padding-left: 24px;
  padding-top: 32px;
  padding-right: 24px;
  border-right: 1px solid #D3D3D3;
}

.keep-learning img{
  width: 100%;
  height: auto;
}

.quote {
  margin-top: 32px;
  margin-bottom: 32px;
}

.quote h1 {
  font-size: 1.7rem;
  font-weight: 800;
  padding-bottom: 24px;
}

.quote p {
  padding-top: 0px;
  padding-bottom: 32px;
  line-height: 1.2;

}

#quoted {
  font-size: 13px;
}


/* right side of school information section */
.info-tiles {
  width: 40%;
}

.tile {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tile .img-lg {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

.img-lg img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.info-text {
  width: 65%;
}

.info-sub-txt {
  padding: 8px 0px;
  font-size: 14px;
}

.tile a {
  color: red;
  font-size: 14px;
}

/* don't show the mobile image on desktop canvas */
.img-sm img {
  display: none;
}

/* ======================== Mid-Size Device Media Query*/
@media only screen and (max-width: 785px) {
  .mobile {
    display: none;
  }

  nav a {
    padding: 8px 8px;
  }

  .banner-promo h1 {
    font-size: 1.6rem;
  }

  .banner-promo h4 {
    font-size: .85rem;
  }

  /*Mid-Size Device Font Resize */
  nav .link {
    font-size: 14px;
  }

  nav .last-link {
    font-size: 14px;
  }
}

/* ======================== Transition Point Media Query*/
@media only screen and (max-width: 685px) {
  .mobile {
    display: none;
  }

  nav a {
    padding: 4px 4px;
  }

  .banner-promo h1 {
    font-size: 1.2rem;
  }

  .banner-promo h4 {
    font-size: .75rem;
  }

  .companies {
    display: none;
  }
}

/* ======================== Mobile Device Media Query*/
@media only screen and (max-width: 485px) {
  .desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  header {
    padding-left: 0px;
  }

  .jumbotron {
    display: block;
  }

  .banner {
    width: 100%;
    margin-right: 0;
    padding: 0px 0px;
  }

  .banner-promo {
    padding-left: 24px;
    text-align: left;
    width: 80%;
  }

  .banner-promo h1 {
    font-size: 2rem;
  }

  .banner-promo h4 {
    font-size: 1rem;
  }


  .info-tiles {
    width: 100%;
  }

  .quote-container {
    display: none;
  }

  .tile {
    width: 100%;
  }

  .img-sm {
    margin: 16px;
    display: block;
  }

  .img-sm img{
    display: block;
    width: 100%;
    height: auto;
  }


  .img-lg {
    display: none;
  }


  /*Header/Mobile Nav Bar*/
  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }
}

